body {
  /* margin: 0;
  padding: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appbody {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nights {
  display: flex;
  flex-wrap: wrap;
  }

.hotelList {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
      
} 

#searchButton i {
  color: black;
}

#clearButton {
  margin: 0 10px 0 10px
}

.picker__date-display{
  display: none;
}

.priceListItem {
  display: flex;
  flex-wrap: nowrap; 
   justify-content: space-around;  
}

.buyButtons {
  display: flex;
  flex-wrap: nowrap; 
   justify-content: space-between;  
}

input::placeholder {
  color: black;
}

.bookingsStatus {
  display: flex;
  flex-wrap: nowrap; 
   justify-content: space-around;  
}

.bookdata {
  margin-left: 20px;
}

.saveButton {
  margin: 10px 0px 20px 0px;
  color: black;
}

.touristForm {
  border: 1px solid black;
}

.contactForm {
  display: flex;
  flex-direction: column;

}

.margin-top-50{
 margin-top: 50px;
}

.margin-top-25{
  margin-top: 25px;
 }

 .margin-arround{
  margin: 10px 10px 10px 10px;
 }

 